html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	margin: 5px;
	background: #ccc;
}
.pure-g > div {
	
}
.pure-g > div .content {
	background: #eee;
	margin: 5px;
	padding: 10px;
}